<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kategori</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <%- include('./header'); %>
    
    <div class="container" >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nama</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% dataKategori.forEach(dk => { %>
            <tr>
              <th scope="row"><%= dk.id_kategori %></th>
              <td><%= dk.nama_kategori %></td>
              <td>

                  <!-- Button trigger modal edit -->
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEdit<%= dk.id_kategori %>" title="Edit data produk">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25">
                      <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                    </svg>                  
                  </button>
  
                  <!-- Modal edit -->
                  <div class="modal fade" id="modalEdit<%= dk.id_kategori %>" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="editModalLabel">Edit Kategori</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="idproduk" class="form-label">ID Kategori</label>
                            <input type="text" class="form-control" id="idproduk" disabled value="<%= dk.id_kategori %>">
                          </div>
                          <div class="mb-3">
                            <label for="namaproduk" class="form-label">Nama Kategori</label>
                            <input type="text" class="form-control" id="namaproduk" value="<%= dk.nama_kategori %>">
                          </div>  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                          <button type="submit" class="btn btn-warning">Edit data kategori</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
  
                  <!-- Button trigger modal hapus -->
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalHapus<%= dk.id_kategori %>" title="Hapus data kategori">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="23">
                      <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                    </svg>
                  </button>
  
                  <!-- Modal hapus -->
                  <div class="modal fade" id="modalHapus<%= dk.id_kategori %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteModalLabel">Hapus kategori</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Anda ingin menghapus kategori ini?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                          <button type="button" class="btn btn-danger">Hapus data kategori</button>
                        </div>
                      </div>
                    </div>
                  </div>

              </td>
            </tr>           
          <% }) %>
        </tbody>
      </table>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>